{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "ignorePatterns": [
    "node_modules",
    "**/*.css",
    "**/*.scss"
  ],
  "settings": {
    "files": ["**/*.js", "**/*.ts", "**/*.jsx", "**/*.tsx"],
    "react": {
      "pragma": "React",
      "fragment": "Fragment",
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "@typescript-eslint/no-var-requires": ["off"]
  },
  "globals": {
    "node": true
  },
  "extends": [
    "plugin:@evolianka/evolianka/prettier",
    "plugin:@evolianka/evolianka/import",
    "plugin:@evolianka/evolianka/react",
    "plugin:@evolianka/evolianka/simpleImportSort",
    "plugin:@evolianka/evolianka/promise",
    "plugin:@evolianka/evolianka/unicorn",
    "plugin:@evolianka/evolianka/sonarjs",
    "plugin:@evolianka/evolianka/typescript",
    "plugin:@evolianka/evolianka/perfectionist"
  ],
  "plugins": [
    "@evolianka/evolianka",
    "@react-three"
  ],
  "overrides": [
    {
      "files": ["**/*.js", "**/*.ts", "**/*.jsx", "**/*.tsx"],
      "extends": [
        "plugin:@react-three/recommended"
      ]
    }
  ]
}